<h1>Challenge #1</h1>
<hr>
<form class="form-inline" role="form">
  <div class="form-group">
    <label for="first">Type text here:</label>
    <input ng-model="first.data.request" class="form-control" type="test" id="first" name="first" placeholder="This field must be filled">
  </div>
  <button ng-click="first.send()" type="button" name="button" class="btn btn-primary">{{first.buttonName}}</button>
</form>

<uib-alert ng-repeat="alert in first.alerts" type="{{alert.type}}" close="first.closeAlert($index)">
  {{alert.msg}}
</uib-alert>
