.red {
  background-color : red;
}

.green {
  background-color : green;
}

.white {
  background-color : white;
}

.second {
  width: 200px;
  height:200px;
  position: relative;
  border-radius: 5px;
}

.button{
  position: absolute;
  top: 83px;
  right: 60px
}
