<h1>Test</h1>

<div class="row padded">
  <ul class="list-group col-xs-3">
    <li class="list-group-item" ng-repeat="challenge in test.challenges">
      <a ui-sref="home.{{challenge.state}}">{{challenge.name}}</a>
    </li>
  </ul>
</div>
<div ui-view></div>
