<h1>Challenge #2</h1>
<hr>
<div class="{{second.color}} second">
  <button ng-click="second.send()" class="btn btn-default button" type="button" name="button">Click me</button>
</div>

<h4>Successes: {{second.countSuccess}}</h4>
<h4>Erroes: {{second.countErrors}}</h4>
<h4>Erroes strick: {{second.strickErrors}}</h4>
<h4>Failures percentage: {{second.percentage}} %</h4>
