<h1>Challenge #3</h1>
<hr>
<div class="form-group">
  <button ng-click="third.getData()" class="btn btn-primary" type="button" name="button">Get data</button>
  <button ng-click=third.clearFetch() class="btn btn-default" type="button" name="button">Clear</button>
</div>

<ul class="list-group col-xs-3">
  <li ng-show="third.fruits.length" class="list-group-item">Fruit</li>
  <ul ng-show="third.fruits.length">
    <li ng-show="third.fruitObj['pear']">Pears: {{third.fruitObj["pear"]}}</li>
    <li ng-show="third.fruitObj['apple']">Apples: {{third.fruitObj["apple"]}}</li>
    <li ng-show="third.fruitObj['banana']">Bananas: {{third.fruitObj["banana"]}}</li>
  </ul>
  <li ng-show="third.vegetables.length" class="list-group-item">Vegetables</li>
  <ul ng-show="third.vegetables.length">
    <li ng-show="third.vegetablesObj['cucumber']">Cucumbers: {{third.vegetablesObj["cucumber"]}}</li>
    <li ng-show="third.vegetablesObj['potatoes']">Potatoes: {{third.vegetablesObj["potatoes"]}}</li>
  </ul>
</ul>
